@font-face {
  font-family: "pokemon-font";
  src: url("../../../fonts/PokemonGb-RAeo.ttf"); }

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "pokemon-font"; }

html {
  font-size: 62.5%; }

.wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  background: linear-gradient(135deg, #8a8a8a 0%, #393939 100%); }

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 600px;
  background-color: #f1f1f1;
  border: 10px solid #000;
  border-radius: 1rem;
  padding: 5rem; }

.content {
  display: grid;
  grid-template-columns: 30% 5% 65%;
  grid-template-rows: 50px 1fr; }
  .content-heading {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center; }
    .content-heading h1 {
      font-size: 3rem; }
  .content-team {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 100%;
    border: 2px solid #cccccc; }
    .content-team-heading {
      text-align: center;
      margin: 2rem 0; }
    .content-team > div {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 82px); }
    .content-team-pokemon {
      height: 100%;
      cursor: pointer;
      border-bottom: 1px solid #cccccc;
      background-color: #f1f1f1;
      transition: all .5s; }
      .content-team-pokemon div {
        width: 100%;
        height: 100%;
        grid-template-columns: 1;
        display: grid;
        grid-template-columns: 70% 30%;
        position: relative; }
        .content-team-pokemon div:first-child {
          border-top: 1px solid #cccccc; }
      .content-team-pokemon:hover {
        background-color: #cccccc; }
      .content-team-pokemon-name {
        font-size: 1.3rem;
        margin-left: 1rem;
        grid-column: 1 / 2;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%); }
      .content-team-pokemon-lvl {
        grid-column: 2 / 3;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%); }
        .content-team-pokemon-lvl span {
          color: #1F51FF; }
  .content-arrows {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc; }
    .content-arrows i {
      font-size: 1.6rem;
      color: #333333; }
  .content-pokemons {
    border: 2px solid #cccccc;
    position: relative; }
    .content-pokemons-heading {
      text-align: center;
      padding: 2rem 0;
      border-bottom: 1px solid #cccccc; }
    .content-pokemons-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 70%;
      width: 85%;
      border: 2px solid #cccccc;
      margin-top: 2rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      align-items: center;
      justify-items: center; }
      .content-pokemons-container-item {
        width: 100px;
        height: 100px;
        background-color: #1F51FF;
        cursor: pointer; }
        .content-pokemons-container-item img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
