.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    div {
        h2 {
            text-align: center;
            margin-bottom: 2rem;
        }
    }
    &-btn {
        display: flex;
        align-items: center;
        width: 400px;
        &-input {
            width: 50%;
            padding: 1rem 2rem;
            outline: none;
            background-color: color(black);
            border: 3px solid color(black);
            color: color(light-white);
            border-top-left-radius: 3rem;
            border-bottom-left-radius: 3rem;
        }
        &-submit {
            width: 50%;
            text-decoration: none;
            border: 4px solid color(poke-red);
            background-color: color(poke-red);
            padding: 1rem;
            text-align: center;
            color: color(light-white);
            font-weight: 600;
            letter-spacing: 2px;
            border-top-right-radius: 3rem;
            border-bottom-right-radius: 3rem;
            &:hover {
                background-color: lighten(color(poke-red), 15%);
                border-color: lighten(color(poke-red), 15%);
            }
        }
    }
}